
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*variables*/
$headerHeight:3rem;
$hue:45;
$sat:98%;
$mainColor:#ff52c1;
$mainColorLight:rgb(255, 200, 232);
$mainColorLighten:#f6fbff;;
